@model PhishingTraining.Web.Models.Administration.ApplicationUserModel

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.UserName)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.FirstName)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.LastName)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Email)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<form method="post" asp-action="ApplicationUserEdit">
    @Html.HiddenFor(model => model.UserName)

    @Html.EditorFor(model => model.IsAdministrator)
    @Html.EditorFor(model => model.IsManager)

    <button type="submit" class="btn btn-outline-primary" value="Save"><i class="fas fa-save"></i>&nbsp;@Localizer["Save"]</button>
</form>
